.bash_history
.cache
.config
.local
.mozilla
.nv
.nvidia-settings-rc
.pki
.pulse-cookie
.ssh
.steam
.steampath
.steampid
.var
.gnupg
.wget-hsts
.zcompdump-*
.zsh_history
Projects/
Desktop
Documents
Downloads
Music  
Pictures  
Public
Templates
Videos
.viminfo
*.swp
